

<% if current_user %>
      <h3><%= link_to "Sign Out", '/logout', method: :delete %></h3>
        <form id="link-create">
          <fieldset>
              <div class="url-field">
                    <label for="url">URL: </label>
                    <input id="link-url" type="text" name="URL"><br>
              </div>
              <div class="title-field">
                    <label for="title">Title:</label>
                    <input id="link-title" type="text" name="title"><br>
              </div>
              <div class="field">
                <button id="link-submit" type="submit" value="Submit Link">Add Link</button>
              </div>
          </fieldset>
      </form>

      <div id="links-table">
        <table>
          <thead>
            <tr>
              <th>Link</th>
              <th>Title</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="tb-links">
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

<% else  %>
    <h3><%= link_to "Please login", "/login" %> <%= link_to "or sign up", new_user_path %></h3>
<% end %>